:root {
    --background-image: url('images/ww-background-img.png');
    --transparent-background: rgba(24, 13, 9, 0.847);
}

html {
    background-image: var(--background-image);
    background-color: #000;
}

body {
    color: #fff;
    margin: 0;
    
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #9d5600;
}

li {
    list-style-type: none;
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--transparent-background);
    position: fixed;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

section {
    text-align: center;
    margin-top: 2rem;
    border: 2px solid #fff;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
}

.header {
    text-align: center;
    padding: 2rem;
    
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--transparent-background);
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #fff;
}


